.aboutbgc {
  background-color: $btn-color;
}
.aboutdivFlex {
  display: flex;
  text-align: start;
  p {
    padding: 10px;
    font-size: 1rem;
    color: rgb(218, 218, 218);
  }
}
.headerLogoFont {
  color: $color-1;
}
.display {
  display: none;
}
p {
  padding: 10px;
  font-size: 1rem;
  color: rgb(218, 218, 218);
  padding: 0 !important;
}

@media screen and (max-width: 992px) {
  .aboutdivFlex {
    flex-direction: column;
  }
  .display {
    display: block;
  }
}
